.tables {
    margin-top: 0;
}

.div .color {
    background-color: yellow;
    padding: 0 10px;
    width: fit-content;
    margin: auto;
}

.div .color h3 {
    color: black;
    text-align: center;
    font-size: 25px;
}

ins, span {
    color: red;
}